{{ block title }}
    Results of round {{player.round_number}}
{{ endblock }}

{{ block content }}

    <div>
        Your role in this round was Solver
    </div>

    {{if group.allow_type_two }}
        <div>
            Decisions made by the randomly chosen Type 1 solver in the decision stage: <u> Let the Type 2 solvers in.</u>
        </div>
    {{else}}
        <div>
            Decisions made by the randomly chosen Type 1 solver in the decision stage: <u> did not let the Type 2 solvers in.</u>
        </div>
    {{endif}}

    {{ if player.field_maybe_none('job') != None }}
        <div>
            You were selected for Job {{player.job}}
        </div>
    {{ else }}
        <div>
            You were not selected
        </div>
    {{ endif }}

    <div>
        The total completed activities in this round are {{total_problems_solved}}
    </div>

    <h3>Payoffs</h3>

    <div>
        Your payoff: {{player.payoff}}
    </div>

    <div>
        Assigner's payoff: {{assigner_payoff}}
    </div>

    {{ next_button }}
{{ endblock }}


